.search {
	@apply border-2 border-solid border-border rounded-3xl h-12 px-4 w-72 mx-6 flex relative;
	transform: translateY(52%);

	> input {
		@apply text-gray;
		&::placeholder {
			@apply text-gray text-base;
		}
	}
	> button {
		@apply absolute right-2 top-1/2 text-2xl leading-none;
		transform: translateY(-50%);
		&:hover {
			svg {
				transform: scale(1.2);
			}
		}
		> svg {
			@apply text-fill;
			transition: 0.5s ease;
		}
	}
}
