.header {
	@apply max-w-7xl mx-auto py-7 flex justify-between items-center text-gray;
	.nav {
		ul {
			@apply flex gap-5 text-lg;
			li {
				a {
					@apply hover:text-orange;
					transition: 0.5s ease;
				}
			}
		}
	}
	.nav_user {
		ul {
			@apply flex gap-5 text-lg;
			li {
				button {
					svg {
						@apply text-2xl;
					}
				}
				&.active > div {
					@apply right-0;
				}
				> div {
					@apply absolute  w-1/3 min-h-full top-0 rounded-2xl -right-full z-40;
					background: rgba(0, 0, 0, 0.3);
					backdrop-filter: blur(20px);
					transition: 0.5s ease;
					.wrapper {
						@apply p-5;
						.popupTitle {
							@apply flex justify-between pb-3 mb-8 border-gray;
							border-bottom: 2px solid;
							> h2 {
								@apply font-bold;
							}
							> button {
								> svg {
									@apply text-gray font-bold cursor-pointer text-3xl;
									transition: 0.5s ease;

									&:hover {
										@apply text-orange;
										transform: scale(1.2);
									}
								}
							}
						}
						.itemWrapper {
							@apply flex flex-col gap-5;
						}
					}
				}
			}
		}
	}
}
